.dl-spacer {
  display: block;
}

.dl-spacer--1 {
  height: 0.25rem;
}

.dl-spacer--2 {
  height: 0.5rem;
}

.dl-spacer--3 {
  height: 0.75rem;
}

.dl-spacer--4 {
  height: 1rem;
}

.dl-spacer--5 {
  height: 1.25rem;
}

.dl-spacer--6 {
  height: 1.5rem;
}

.dl-spacer--8 {
  height: 2rem;
}

.dl-spacer--10 {
  height: 2.5rem;
}

.dl-spacer--12 {
  height: 3rem;
}

.dl-spacer--16 {
  height: 4rem;
}

.dl-spacer--20 {
  height: 5rem;
}

.dl-spacer--24 {
  height: 6rem;
}

