.dl-grid {
  display: grid;
}

/* Columns */
.dl-grid--columns-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dl-grid--columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dl-grid--columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dl-grid--columns-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dl-grid--columns-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.dl-grid--columns-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.dl-grid--columns-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* Gap */
.dl-grid--gap-0 {
  gap: 0;
}

.dl-grid--gap-1 {
  gap: 0.25rem;
}

.dl-grid--gap-2 {
  gap: 0.5rem;
}

.dl-grid--gap-3 {
  gap: 0.75rem;
}

.dl-grid--gap-4 {
  gap: 1rem;
}

.dl-grid--gap-5 {
  gap: 1.25rem;
}

.dl-grid--gap-6 {
  gap: 1.5rem;
}

.dl-grid--gap-8 {
  gap: 2rem;
}

.dl-grid--gap-10 {
  gap: 2.5rem;
}

.dl-grid--gap-12 {
  gap: 3rem;
}

.dl-grid--gap-16 {
  gap: 4rem;
}

/* Row Gap */
.dl-grid--row-gap-0 {
  row-gap: 0;
}

.dl-grid--row-gap-1 {
  row-gap: 0.25rem;
}

.dl-grid--row-gap-2 {
  row-gap: 0.5rem;
}

.dl-grid--row-gap-3 {
  row-gap: 0.75rem;
}

.dl-grid--row-gap-4 {
  row-gap: 1rem;
}

.dl-grid--row-gap-5 {
  row-gap: 1.25rem;
}

.dl-grid--row-gap-6 {
  row-gap: 1.5rem;
}

.dl-grid--row-gap-8 {
  row-gap: 2rem;
}

.dl-grid--row-gap-10 {
  row-gap: 2.5rem;
}

.dl-grid--row-gap-12 {
  row-gap: 3rem;
}

.dl-grid--row-gap-16 {
  row-gap: 4rem;
}

/* Column Gap */
.dl-grid--column-gap-0 {
  column-gap: 0;
}

.dl-grid--column-gap-1 {
  column-gap: 0.25rem;
}

.dl-grid--column-gap-2 {
  column-gap: 0.5rem;
}

.dl-grid--column-gap-3 {
  column-gap: 0.75rem;
}

.dl-grid--column-gap-4 {
  column-gap: 1rem;
}

.dl-grid--column-gap-5 {
  column-gap: 1.25rem;
}

.dl-grid--column-gap-6 {
  column-gap: 1.5rem;
}

.dl-grid--column-gap-8 {
  column-gap: 2rem;
}

.dl-grid--column-gap-10 {
  column-gap: 2.5rem;
}

.dl-grid--column-gap-12 {
  column-gap: 3rem;
}

.dl-grid--column-gap-16 {
  column-gap: 4rem;
}

