.dl-search-bar {
  width: 100%;
}

.dl-search-bar__clear {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  transition: color 0.2s ease-in-out;
}

.dl-search-bar__clear:hover {
  color: #212121;
}

